/*

  <div class="layer">
    <div class="content">
  
      <!-- Content (FULL WIDTH) goes here -->
      
    </div> <!-- .content -->
  </div> <!-- .layer -->


  <div class="layer">
    <div class="content">
      <div class="wrapper"

        <!-- Content (FULL WIDTH) goes here -->

      </div> <!-- .wrapper -->
    </div> <!-- .content -->
  </div> <!-- .layer -->

*/
/* line 34, ../_sass/layout.scss */
.wrapper {
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* line 39, ../_sass/layout.scss */
  .wrapper {
    width: 768px;
  }
}
/* line 43, ../_sass/layout.scss */
.content {
  padding: 20px 28px;
}
