/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, /Users/davidpots/dev/davidpots.com/_sass/layout.scss */
.layer {
  padding: 20px;
}

/* line 5, /Users/davidpots/dev/davidpots.com/_sass/layout.scss */
.wrapper {
  width: 700px;
  margin: 0 auto;
}

/* line 1, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
body {
  color: #444;
  font-family: 'Merriweather', Arial, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* ========================================================================= */
/* Headers */
/* ========================================================================= */
/* Universal */
/* line 14, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 40px 0 20px 0;
  font-family: Lato, Georgia;
  font-weight: 800;
}

/* Specifics */
/* line 17, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
h1 {
  font-size: 48px;
  line-height: 54px;
}

/* line 18, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
h2 {
  font-size: 32px;
  line-height: 32px;
}

/* line 19, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
h3 {
  font-size: 24px;
  line-height: 24px;
}

/* line 20, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
h4 {
  font-size: 21px;
  line-height: 21px;
}

/* line 21, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
h5 {
  font-size: 18px;
  line-height: 18px;
}

/* line 22, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
h6 {
  font-size: 18px;
  line-height: 18px;
}

/* ========================================================================= */
/* General Elements */
/* ========================================================================= */
/* line 28, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
a {
  color: #0033ff;
}

/* line 30, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
p {
  margin: 32px 0 32px 0;
}

/* line 31, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
ul, ol, dl {
  margin: 32px 0 32px 0;
}

/* line 33, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
pre {
  margin: 32px 0 32px 0;
  padding: 24px;
  border-radius: 6px;
}

/* line 34, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
pre, code {
  font-family: 'Andale Mono', monospace;
  color: #555;
  color: red;
  font-size: 15px;
  line-height: 21px;
  background: #eee;
}

/* line 35, /Users/davidpots/dev/davidpots.com/_sass/typography.scss */
code {
  padding: 4px 8px;
  border-radius: 4px;
}

/* line 18, ../_sass/screen.scss */
.img-centered {
  display: block;
  margin: 0 auto;
}
