/* line 3, ../_sass/site.scss */
.home-intro {
  background: url(/images/avatar.png) no-repeat center 40px;
  background-size: 128px 128px;
}

/* line 4, ../_sass/site.scss */
.home-intro .content {
  padding: 48px 0 40px;
  border-bottom: 3px double #eee;
}

/* line 6, ../_sass/site.scss */
.home-intro h1 {
  text-align: center;
  font-size: 54px;
  margin: 120px 0 6px 0;
}
/* line 7, ../_sass/site.scss */
.home-intro p {
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  margin: 0 0 0 0;
  color: #555;
}
/* line 8, ../_sass/site.scss */
.home-intro .avatar {
  margin: 0 auto 12px;
  vertical-align: middle;
  display: block;
}

/* line 11, ../_sass/site.scss */
.home-main {
  z-index: 2;
}

/* line 13, ../_sass/site.scss */
.home-main h3 {
  margin: 51px 0 19px 0;
}
/* line 14, ../_sass/site.scss */
.home-main h3:first-child {
  margin-top: 21px;
}
/* line 15, ../_sass/site.scss */
.home-main p {
  margin: 0 0 18px 0;
}
/* line 17, ../_sass/site.scss */
.home-main .project {
  margin: 27px 0 28px 0;
}
/* line 18, ../_sass/site.scss */
.home-main .project h4 {
  margin: 0 0 4px 0;
  font-size: 24px;
}
/* line 19, ../_sass/site.scss */
.home-main .project p.sub {
  color: #aaa;
  margin: 0 0 12px 0;
}
/* line 20, ../_sass/site.scss */
.home-main .project ul {
  margin: 0 0 24px 0;
}
/* line 21, ../_sass/site.scss */
.home-main .project p {
  margin: 0 0 8px  0;
}

/* line 24, ../_sass/site.scss */
.secondary .content {
  padding: 24px 0 72px;
  border-top: 3px double #eee;
}

/* line 32, ../_sass/site.scss */
img,
audio,
video,
canvas {
  max-width: 100%;
}

/* line 37, ../_sass/site.scss */
.img-centered {
  display: block;
  margin: 0 auto;
}

/* line 40, ../_sass/site.scss */
.img-white-buffer {
  padding: 30px 35px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* line 42, ../_sass/site.scss */
.img-work {
  margin: 28px auto;
}
