/* line 1, ../_sass/typography.scss */
body {
  background: #fff;
  color: #555;
  font-family: 'Gentium Book Basic', serif;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
}

/* ========================================================================= */
/* Headers */
/* ========================================================================= */
/* Universal */
/* line 15, ../_sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 40px 0 20px 0;
  font-family: 'Volkhov',serif;
  font-weight: 400;
}

/* Specifics */
/* line 18, ../_sass/typography.scss */
h1 {
  font-size: 54px;
  line-height: 60px;
}

/* line 19, ../_sass/typography.scss */
h2 {
  font-size: 32px;
  line-height: 36px;
}

/* line 20, ../_sass/typography.scss */
h3 {
  font-size: 30px;
  line-height: 32px;
}

/* line 21, ../_sass/typography.scss */
h4 {
  font-size: 20px;
  line-height: 24px;
}

/* line 22, ../_sass/typography.scss */
h5 {
  font-size: 18px;
  line-height: 21px;
}

/* line 23, ../_sass/typography.scss */
h6 {
  font-size: 18px;
  line-height: 21px;
}

/* ========================================================================= */
/* General Elements */
/* ========================================================================= */
/* line 29, ../_sass/typography.scss */
a {
  color: #008ce6;
  text-decoration: none;
}

/* line 31, ../_sass/typography.scss */
p {
  margin: 32px 0 32px 0;
}

/* line 32, ../_sass/typography.scss */
ul, ol, dl {
  margin: 32px 0 32px 0;
  padding-left: 26px;
}

/* line 34, ../_sass/typography.scss */
pre {
  margin: 24px 0 24px 0;
  padding: 24px;
  border-radius: 6px;
}

/* line 35, ../_sass/typography.scss */
pre, code {
  font-family: 'Andale Mono', monospace;
  color: #555;
  font-size: 15px;
  line-height: 21px;
  background: #f3f3f3;
}

/* line 36, ../_sass/typography.scss */
code {
  padding: 2px 4px;
  border-radius: 4px;
}

/* line 37, ../_sass/typography.scss */
pre code {
  padding: 0;
}
