---
layout: default
title: David Potsiadlo // Product Design and Development
---

<div class="container--col-8">
  <div class="row">
    <div class="col mtxxxl">
      <p class="center"><img width="120" src="/images/avatar.png" /></p>
      <h1 class="center m-h2">David Potsiadlo</h1>
      <p class="center h3 m-h4">Code-slinging product designer who <a href="http://davidpots.com/podcasts">loves podcasts</a> and <a href="http://songnotes.cc">plays guitar</a>.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="mtxxxl h2">About</h3>
      <p>Since 2005, I've worked professionally to apply my UX/UI design and front-end development skills toward non-profit, enterprise, education, and ecommerce web products. I currently work as a Senior Product Designer at Main Street Hub in Austin, TX.</p>
      <p>As you please, follow me on these sites:</p>
    </div>
  </div>
  <div class="row mbm">
    <div class="col col-6">
      <ul class="mbn">
        <li><a href="http://dribbble.com/davidpots">Dribbble</a></li>
        <li><a href="http://github.com/davidpots">GitHub</a></li>
        <li><a href="http://www.instagram.com/davidpots">Instagram</a></li>
      </ul>
    </div>
    <div class="col col-6">
      <ul class="mbn">
        <li><a href="http://www.linkedin.com/in/davidpots">LinkedIn</a></li>
        <li><a href="https://soundcloud.com/davidpots">SoundCloud</a></li>
        <li><a href="http://www.twitter.com/davidpots">Twitter</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Or, you can send an email to <a href="mailto:davidpots@gmail.com">davidpots@gmail.com</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">


      <h3 class="mtxxxl h2">Featured projects</h3>
      {% assign featured_projects = (site.projects | where: "category" , "featured") %}
      {% for project in featured_projects %}
      <div class="mbxl">
        <h2 class="mtn mbxxs"><a href="{{project.website}}">{{project.title}}</a></h2>
        <p class="strong mbxs">{{project.subtitle}}</p>
        <p class="mbxs">{{project.description}}</p>
        <p class="mbn"><a class="" href="{{project.website}}">{{project.cta}} &rarr;</a></p>
      </div>
      {% endfor %}

      <h3 class="mtxxxl h2">Other projects</h3>
      {% assign reg_projects = site.projects | where:'category','other' %}
      {% for project in reg_projects %}
      <div class="mbxl">
        <h2 class="mtn mbxxs"><a href="{{project.website}}">{{project.title}}</a></h2>
        <p class="strong mbxs">{{project.subtitle}}</p>
        <p class="mbxs">{{project.description}}</p>
        <p class="mbn"><a class="" href="{{project.website}}">{{project.cta}} &rarr;</a></p>
      </div>
      {% endfor %}

      <h3 class="mtxxxl h2">Writing</h3>
      <p>Here is a collection of occasional blog posts &amp; random snippets I've written in the past. Many of the front-end posts below are aimed toward those initially exploring the world of rapid prototyping using Rails, Git, Heroku, Jekyll, etc.</p>
      {% for post in site.posts %}
      <p><a href="{{ post.url }}">{{ post.title }}</a><br />{{ post.date | date: "%B %e, %Y" }}</p>
      {% endfor %}

    </div>
  </div>
</div>
