// Layout, General ============================================================

        // Horizontal Row -- always used, bg color goes here
        .section                { padding: 20px 5%; }

        // Content
        .content              { margin: 0 auto; }
        .content.content-full { margin: 0; width: 100%; }

        // Unless a small screen, .content defaults to fixed width
        @media (min-width: 672px) { 
          .content { width: 672px; } 
        }

// Layout, Misc ===============================================================

        // So padding acts normal
        * { position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }