/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Reset
@import "reset_normalize";
@import "reset_html5boilerplate";

// Basics
@import "layout";
@import "typography";


// PUT THIS STUFF SOMEWHERE, EVENTUALLY

    // For an image to be centered in its <div>
    .img-centered { display: block; margin: 0 auto; }

    // For an image with a non-transparent white background -- this extends the bg buffer + adds border
    .img-white-buffer { padding: 30px 35px; background: #fff; border: 1px solid #ddd; border-radius: 8px; }

    // So padding acts normal
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

    // So large images don't be wrapping on mobile
    img,
    audio,
    video,
    canvas {
      max-width: 100%;
    }


// SVG stuff


    // TO FIX: probably just apply a universal centering style to any SVG items within the main wrapper here
    .pyramid-wrapper    { margin: 0 auto; display: block; text-align: center; margin-top: 7px; margin-bottom: 7px; }
    .davidpots-wrapper  { margin: 0 auto; display: block; text-align: center; margin-bottom: 7px; }

    svg.logo-pyramid { fill: #222; }
    svg.logo-pyramid { fill: #222; }
    
    svg.logo-davidpots path { fill: #222; }