// Homepage stuff====================================================================

      .home-intro { background: url(/images/avatar.png) no-repeat center 40px; background-size: 128px 128px; }
      .home-intro .content { padding: 48px 0 40px; border-bottom: 3px double #eee; }
      .home-intro {
        h1  { text-align: center; font-size: 54px; margin: 120px 0 6px 0; }
        p   { text-align: center; font-weight: 400; font-size: 19px; margin: 0 0 0 0; color: #555; }
        .avatar { margin: 0 auto 12px; vertical-align: middle; display: block; }
      }

      .home-main { z-index: 2; }
      .home-main {
        h3              { margin: 51px 0 19px 0; }
        h3:first-child  { margin-top: 21px; }
        p               { margin: 0 0 18px 0; }

        .project        { margin: 27px 0 28px 0; }
        .project h4     { margin: 0 0 4px 0; font-size: 24px;  }
        .project p.sub  { color: #aaa; margin: 0 0 12px 0; }
        .project ul     { margin: 0 0 24px 0; }
        .project p      { margin: 0 0 8px  0; }
      }

      .secondary .content { padding: 24px 0 72px; border-top: 3px double #eee; }

// Images within content ============================================================

      // So large images don't be wrapping on mobile
      img,
      audio,
      video,
      canvas {
        max-width: 100%;
      }

      // For an image to be centered in its <div>
      .img-centered { display: block; margin: 0 auto; }

      // For an image with a non-transparent white background -- this extends the bg buffer + adds border
      .img-white-buffer { padding: 30px 35px; background: #fff; border: 1px solid #ddd; border-radius: 8px; }

      .img-work { margin: 28px auto; }