body { 
  background: #fff;
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  font-size: 18px;
  font-weight: 400; 
  line-height: 28px;
}

/* ========================================================================= */
/* Headers */
/* ========================================================================= */

        /* Universal */
        h1,h2,h3,h4,h5,h6 { color: #222; margin: 40px 0 20px 0; font-family: Lato, Verdana, Tahoma, sans-serif; font-weight: 800; }

        /* Specifics */
        h1      { font-size: 48px; line-height: 54px; }
        h2      { font-size: 32px; line-height: 32px; }
        h3      { font-size: 24px; line-height: 24px; }
        h4      { font-size: 21px; line-height: 21px; }
        h5      { font-size: 18px; line-height: 18px; }
        h6      { font-size: 18px; line-height: 18px; }

/* ========================================================================= */
/* General Elements */
/* ========================================================================= */

        a           { color: #e24825; }

        p           { margin: 32px 0 32px 0; }
        ul,ol,dl    { margin: 32px 0 32px 0; }

        pre         { margin: 32px 0 32px 0; padding: 24px; border-radius: 6px; }
        pre,code    { font-family: 'Andale Mono', monospace; color: #555; font-size: 15px; line-height: 21px; background: #eaeaea; }
        code        { padding: 4px 8px; border-radius: 4px;  }
        pre code    { padding: 0; }

/* ========================================================================= */
/* Header */
/* ========================================================================= */



        .header p.tagline { margin: 0 0 20px 0; text-align: center; font-size: 14px; line-height: 16px; letter-spacing: 2px; color: #555; font-family: Lato, Verdana, Tahoma, sans-serif; font-weight: 300; text-transform: uppercase; }

        .header-main-bg { background: url(/images/backgrounds/blur-v2.png) center top no-repeat, url(/images/backgrounds/bg-noise-grey-v2.jpg); border-bottom: 1px solid #e3e3e4; border-top: 6px solid #00b193; background-color: #f5f6f6; }

        .header.header-main img.pyramid   { margin: 24px auto 18px auto; display: block; }
        .header.header-main img.davidpots { margin: 0 auto 16px auto; display: block; }