body { 
  background: #fff;
  color: #555;
  font-family: 'Gentium Book Basic', serif;
  font-size: 19px;
  line-height: 26px;
  font-weight: 400;
}

/* ========================================================================= */
/* Headers */
/* ========================================================================= */

        /* Universal */
        h1,h2,h3,h4,h5,h6 { color: #222; margin: 40px 0 20px 0; font-family: 'Volkhov',serif; font-weight: 400; }

        /* Specifics */
        h1      { font-size: 54px; line-height: 60px; }
        h2      { font-size: 32px; line-height: 36px; }
        h3      { font-size: 30px; line-height: 32px; }
        h4      { font-size: 20px; line-height: 24px; }
        h5      { font-size: 18px; line-height: 21px; }
        h6      { font-size: 18px; line-height: 21px; }

/* ========================================================================= */
/* General Elements */
/* ========================================================================= */

        a           { color: #008ce6; text-decoration: none; }

        p           { margin: 32px 0 32px 0; }
        ul,ol,dl    { margin: 32px 0 32px 0; padding-left: 26px; }

        pre         { margin: 24px 0 24px 0; padding: 24px; border-radius: 6px; }
        pre,code    { font-family: 'Andale Mono', monospace; color: #555; font-size: 15px; line-height: 21px; background: #f3f3f3; }
        code        { padding: 2px 4px; border-radius: 4px;  }
        pre code    { padding: 0; }