---
layout: default
---

<div class="bg-color-primary mbl">
  <div class="container">
    <div class="row">
      <div class="col">

        <p class="pvm man"><a class="white no-underline" href="/">&larr; davidpots.com</a></p>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">

      <p class="mbs gray-light">{{ page.date | date: "%B %e, %Y" }}</p>
      <h1 class="mtn">{{ page.title }}</h1>

      <div class="post">
        {{ content }}
      </div>

    </div>
  </div>
</div>

<div class="bg-color-primary mtl">
  <div class="container">
    <div class="row">
      <div class="col">

        <p class="pvm man"><a class="white no-underline" href="/">&larr; davidpots.com</a></p>

      </div>
    </div>
  </div>
</div>